<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damiangarcia.tareasettings">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="com.example.damiangarcia.tareasettings.Provider"
            android:name="com.example.damiangarcia.tareasettings.Provider.ProductsProvider"
            android:exported="true"
            android:enabled="true"
            android:multiprocess="true"

            />
        <activity android:name=".ActivityMain" />
        <activity android:name=".ActivityDetail" />
        <activity android:name=".ActivitySplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityPrivacyPolicy" />
        <activity android:name=".ActivityProduct" android:theme="@style/Theme.AppCompat.Light"></activity>
    </application>

</manifest>